@import "tailwindcss";

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Space+Grotesk:wght@400;500;600;700&display=swap');

  :root {
    --font-sans: 'Inter', sans-serif;
    --font-display: 'Space Grotesk', sans-serif;
  }

  body {
    font-family: var(--font-sans);
    background-color: #F5F7FB;
    color: #1E293B; /* slate-800 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Utilitas Animasi Teks Berjalan (Marquee) Global */
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 28s linear infinite;
}